.container{
    height:500px;
    width:380px;
    border: 2px solid red;
    display:flex;
    flex-direction: column;
}
.display{
    border: 2px solid red;
    height:100px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(30, 182, 13);
    
}
.dis{
    height:70px;
    width:360px;
     border: 2px solid red;
     display:flex;
     justify-content: flex-end;
     background-color: cadetblue;
}
span{
    font-size: xxx-large;
    overflow-x: auto;
    white-space: nowrap;
}
.keypad{
     border: 2px solid red;
      flex-grow: 1;
      
      display:flex;
      flex-wrap:wrap;
      justify-content: space-around;
      background-color: rgb(30, 182, 13);
}

.column{
display:flex;
flex-direction: column;
gap:8px;
margin: 4px;
}
button{
  height:65px;
  width: 65px;
}
button{
    border-radius: 30%;
    box-shadow:1px 6px 3px black;
    transition:
    transform 0.1s,
    box-shadow 0.1s;
    background-color: rgb(234, 221, 39);
}
button:hover{
    transform:translate(-1px,-2px);
    opacity:80%;
}
button:active{
  
   box-shadow: 0 2px 1px black;
   transform:translate(1px,3px);
}   
   .clear{
    background-color: crimson;
   }
   .oper{
    background-color: bisque;
   }

